<div class="separator">
  <h4>My Dashboard</h4>
</div>
<hr />
<table class="table">
  <thead>
    <tr>
      <th scope="col">My Program Title</th>
      <th scope="col">Description</th>
      <th scope="col">Start Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="program">
      <td>{{ program.title }}</td>
      <td>{{ program.description }}</td>
      <td>{{ program.start_date }}</td>
    </tr>
  </tbody>
</table>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="form-floating mb-3 text-center">

        <ng-container >
          <h5 *ngIf="!editedNote" class="text-center text-primary">Add Note</h5>
          <h5 *ngIf="editedNote" class="text-center text-primary">Edit Note</h5>
        </ng-container>

      </div>
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="courseName"
            name="courseName"
            [(ngModel)]="note_name"
          />
          <label for="courseName">Note name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="description"
          />
          <label for="description">Description</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="date"
            name="date"
            [(ngModel)]="date"
          />
          <label for="description">Date</label>
        </div>
        <ng-container > 
          <button *ngIf="!editedNote" type="button" class="btn btn-primary" (click)="addNote()">Add Note</button>
          <button *ngIf="editedNote" type="button" class="btn btn-primary" (click)="addNote()">Edit Note</button>
        </ng-container>
      </div>
    </div>
    <!-- my notes -->
    <div class="col-md-8 mt-5">
      <div class="form-floating mb-3 text-center">
        <h5 class="text-center text-primary">My Notes</h5>
      </div>
      <h5 class="text-primary"></h5>
      <div class="card p-3">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Note Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let note of notesList">

                 <!-- Only display notes owned by the current user -->
                <tr>
                  <td>{{ note.note_name }}</td>
                  <td>{{ note.description }}</td>
                  <td>{{ note.date }}</td>
                  <td>
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Course Actions"
                    >
                      <div
                        class="btn btn-outline-primary me-2"
                        (click)="editNote(note)"
                      >
                        Edit
                      </div>
                      <div
                        class="btn btn-outline-danger"
                        (click)="deleteNote(note)"
                      >
                        Delete
                      </div>
                    </div>
                  </td>
                </tr>
                
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
