<div class="card text-bg-dark">
    <img src="../../../assets/heading-bg.jpg" class="card-img" alt="card-img">
    <div class="card-img-overlay text-center mb-3">
        <h5 class="card-title">Curriculum at "Software University"</h5>
        <p class="card-text">SoftUni's software engineering professional program aims to build all the fundamental knowledge and practical skills necessary to become a software engineer, working with the latest software technologies and mastering the best practices in the field of programming.</p>
        <p class="card-text">The curriculum consists of several professional areas and subsequent specializations built from specially selected training modules.Each training module contains courses with a strong focus on practice, and at the end of each course, students pass a practical exam, demonstrating the acquired skills.</p>
    </div>
</div>

<div class="separator">
    <h4>Professional Modules</h4>
    <p>The students have a choice between 4 professional areas, which are oriented in web development with the programming languages ​​C#, Java, JavaScript.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let program of programList">
      <div class="card h-100">
        <img src="{{program.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{program.title}}</h5>
          <p class="card-text">{{program.description}}</p>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/details">LEARN MORE</button>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    
  </div>
  