
<div class="container-fluid bg-primary-subtle">
    <div class="row">
      <div class="col">
        <div class="video-container">
          <video class="video" autoplay muted loop>
            <source src="../../../assets/course-video.mp4" type="video/mp4">
          </video>
          <div class="blurred-overlay"></div> <!-- Blurred overlay -->
          <div class="text-overlay">
            <p>The most in-depth software engineering program in Bulgaria</p>
            <a class="btn btn-primary" href="#" role="button">APPLY</a>
          </div>
        </div>
      </div>
    </div>
  </div>