<section class="vh-100 gradient-custom">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-primary text-white" style="border-radius: 1rem; ">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login email and password!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control form-control-lg" />
                                <label class="form-label" for="email">Email</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control form-control-lg" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5" type="button" routerLink="/home" (click)="login(email,password)">LOGIN</button>
                        </div>
                        <div>
                            <p class="mb-0">Don't have an account? <a routerLink="/register"
                                    class="text-white-50 fw-bold">Register</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Username"
            #userName
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPassword
            required
          />
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <!-- <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Don't have an account?<span
            class="redirect"
            routerLink="/register-user"
          >
            Sign Up</span
          ></span
        >
      </div>
    </div>
  </div> -->