<div *ngIf="program$ | async as program">

 <!-- <img src="{{program.image}}" alt="phyton icon">
  <h2>{{ program.title }}</h2>
  <p>Description: {{ program.description }}</p> -->

  <div class="card mb-3" style="max-width: 1440px; height: 60vh;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{program.image}}" class="img-fluid rounded-start" alt="phyton-icon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ program.title }}</h5>
          <p class="card-text">{{ program.description }}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(program$ | async) === null">
  <p>Program not found.</p>
</div>