<article>
    <div class="wrapper">
        <section>
            <h3>We make the people we train real professionals in the software industry and assist them in their career start!</h3>
            <p>The "Software University" project of SoftUni was founded with the idea of ​​an innovative and modern educational center that creates real professionals in the world of programming. For us, as for the entire software industry, real practical skills are most important.</p>
            <p>That's why we use the learning-by-doing model, providing our students with programming training combined with real-world hands-on experience and knowledge in the most in-demand and cutting-edge technologies, ready to launch their careers as successful software engineers.</p>
        </section>
    </div>
    <div class="media">
        <img src="../../../assets/meeting-04.jpg" alt="pic">
    </div>
</article>
<div>
    <h4>Modern practical training</h4>
    <p>SoftUni organizes the most in-depth professional software and QA engineering programs in Bulgaria, providing students with the opportunity to acquire the profession of "software engineer" or "software automated testing engineer". SoftUni's software and QA engineering curricula have been carefully developed with the direct involvement of companies from the IT sector, including working with the latest software technologies and learning best practices in the field of programming and software testing.</p>
    <p>In addition to professional programs in software and QA engineering, SoftUni organizes a number of courses on various topics from the IT and digital sphere such as system administration, artificial intelligence, cyber security, robotics and many others.</p>
</div>
<article>
    <div class="wrapper">
        <section>
            <h4>Practical skills</h4>
            <p>The focus of our training model is the transformation of acquired knowledge into real practical skills, and therefore the trainings we offer are combined with a variety of demonstrations and exercises, as well as individual and team practical projects, through which students acquire both technical and personal skills.</p>
        </section>
        <section>
            <h4>Mentorship</h4>
            <p>During their studies, each student can ask their questions to the expert mentoring team of SoftUni. In this way, he receives personalized help in learning the learning material, which increases the efficiency of the process of acquiring new knowledge and skills.</p>
        </section>
        <section>
            <h4>Active community</h4>
            <p>Students become part of an active community of mutual help and exchange of valuable knowledge and experience together with their colleagues, teachers and mentors, thus creating valuable friendships and professional contacts.</p>
        </section>
    </div>
</article>
<div>
    <h4>Career assistance</h4>
    <p>SoftUni partners directly with companies from the software industry, helping its students to become successful software or QA engineers. Successfully presented students with excellent results receive direct recommendations from the SoftUni career center to start a job, depending on their preferences and goals.</p>
    <p>In addition to professional programs in software and QA engineering, SoftUni organizes a number of courses on various topics from the IT and digital sphere such as system administration, artificial intelligence, cyber security, robotics and many others.</p>
    <h4>Teaching staff</h4>
    <p>The high quality of training at SoftUni is guaranteed by our teaching staff, which consists of some of the best practitioners and trainers in the software industry. Students will have the opportunity to learn from leading names in the field, including founders, CTOs, software architects and senior programmers of leading software companies, as well as well-known individuals who have lectured at international technology conferences.</p>
</div>